

    <!-- informations-->

    <div><img class="img-fluid" src="detailspict.jpg" style="width: 100%"></div>

    <div>
        <h2 id="header"><b>Ważne informacje:</b></h2>
    </div>
    <div>
                <h1 style="color: #483D8B">Menu</h1>
                <h2 style="color: #191970">{{detCtrl.menuChoice.response}}</h2>

                <h1 style="color: #483D8B">Widzimy się na weselu?</h1>
                <h2 style="color: #191970">{{detCtrl.weddingConfirm.response}}</h2>

                <h1 style="color: #483D8B">Bawimy się na poprawinach?</h1>
                <h2 style="color: #191970">{{detCtrl.secondDayConfirm.response}}</h2>



        <a class="btn btn-lg btn-light" id="button" href="/setdetails" role="button">Zmień!</a>


    </div>


