<!-- welcome-->
<div class="row">
    <div class="col-md-6 col-xs-6" style="margin-top: 70px"><img class="img-fluid" src="welcomepic.jpg"></div>

    <div class="col-md-6 col-xs-6" style="margin-top: 70px">
        <h1>{{welCtrl.guest.firstName1}}</h1>
        <h1> {{welCtrl.guest.details.firstNameT}}</h1>
        <h1>Hej!</h1>
        <h2>Witajcie na naszej stronie :)</h2>
        <h2>Poświęćcie chwilę czasu na zaznaczenie dodatkowych informacji i wybór menu.
            Ułatwi nam to znacznie organizację naszego dnia!
            Możecie tu również podzielić się zdjęciami z wydarzenia.</h2>
        <h1> Miłej zabawy!</h1>
    </div>
</div>